#nav, #nav ul {
padding: 0;
margin: 0;
list-style: none;
}
#nav li {
float: left;
position: relative;
width: 12em;

background-color:#FFFFFF;
color: #2D486C;
font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
margin-right: 1em;
}
#nav a:link{
display: block;
text-decoration: none;
padding-left: 1em;
color: #2D486C;
background:url(/site_media/mm_arrow.gif) 5px no-repeat;
}
#nav a:visited
{
display: block;
text-decoration: none;
padding-left: 1em;
color: #2D486C;
background:url(/site_media/mm_arrow.gif) 5px no-repeat;
}
#nav ul {
display: none;
position: absolute;
top: 1.3em;
left: 0;
padding-top: 0.5em;
}
#nav ul li {
float: none;
background-color: #FFFFFF;
font-size: 100%;
margin: 0;
margin-left:10px;
margin-bottom: 0.5em;
padding: 0;
background:url(/site_media/mm_arrow.gif) 5px no-repeat;
}
#nav li > ul {
top: auto;
left: auto;
}
#nav li:hover ul {
display: block;
}
