{% extends "base.html"%}
{% block title %} Login {% endblock %}
{% block top_menu %}
    <ul class="nav pull-right">
    <li> <a href="/register/"> Register </a> </li>
    </ul>
{% endblock %}
{% block block_content %}
    <div class="control-group" align="center">
    <form action="." method='post' align="center">{% csrf_token %}
        <h1> Login </h1>
        <table class="table" align="center">
            <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>Username:</td> 
            <td></comment><input name="username" id="username" type="text" class="input" placeholder="Username" value="{{ name }}"></td>
            </tr>
            <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>Password:</td>
            <td><input name="password" id="password" type="password" class="input" placeholder="Password" value="{{ password }}"></td>
            </tr>
        </table>
        <button type="submit" class="btn" value="login">Sign in</button>
        <button type="submit" class="btn" value="reset">Reset</button>
        <br>
        If you don't have account <a href="/register/">sign up</a> now<br/><br/>
        {% if form.errors %}
            <p class="error"><font size="4" face="Times" color="red">Sorry, that's not a valid username or password</font></p>
        {% endif %}
    </form>
    </div>

{% endblock %}
