<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<form action="." method="post">
    <input type="text" name="newTitle" value="{{ newTitle }}"><br/>
    <select name="TimeLimit">
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="40">40 minutes</option>
        <option value="60">60 minutes</option>
    </select><br/>
    <input type="submit" value="SAVE" name="edit">
</form>

</body>
</html>