<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Quizzes</title>
    <script type="text/javascript">
        function show_delete_message(){
            alert("the quiz was deleted");
        }
    </script>
</head>
<body>

    <form action="." method="post">
        {% if created %}
            title<br/>
            <input type="text" name="title" value="{{title}}"><br/>
            Question<br/>
            <textarea rows="4" cols="100" name="question">{{ques}}</textarea><br/>

            A:
            <input type="text" name="ans1" value="{{ans1}}">
            <input type="radio" name="correct_ans" value="A"><br/>
            B:
            <input type="text" name="ans2" value="{{ans2}}">
            <input type="radio" name="correct_ans" value="B"><br/>
            C:
            <input type="text" name="ans3" value="{{ans3}}">
            <input type="radio" name="correct_ans" value="C"><br/>
            D:
            <input type="text" name="ans4" value="{{ans4}}">
            <input type="radio" name="correct_ans" value="D"><br/>

            <input type="submit" value="Add">
        {% else %}
            <input type="submit" name="create" value="create new quiz"><br/>
            {% for quiz in all %}
                {{ quiz.title }}

                    <a href="/Delete/{{ quiz.id }}" onclick="show_delete_message()">delete</a>
                    <a href="/Edit/{{ quiz.id }}" name="edit">edit</a>
                    <a href="/Display/{{ quiz.id }}">views</a>
                    <br/>
            {% endfor %}
        {% endif %}
    </form>



</body>
</html>