{% extends "base.html"%}
{% block title %} Login {% endblock %}
{% block top_menu %}
{% endblock %}
{% block block_content %}
    <div class="container">
        <div class="row">
            <div class="span3"> <br/> </div>
            <div class="span6">
                <div class="well">
                    <form class="focused" action="." method='post' align="center">{% csrf_token %}
                        <h1 align="center"> Login </h1>
                        <table class="table" align="center">
                            <tr>
                                <td>Username:</td>
                                <td></td><td></td><td></td>
                                <td><input name="username" id="username" type="text" class="input" placeholder="Username" value="{{ name }}"></td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td></td><td></td><td></td>
                                <td><input name="password" id="password" type="password" class="input" placeholder="Password" value="{{ password }}"></td>
                            </tr>
                            <br/><br/>
                        </table>
                        <b style="color: red;">{{ state }}</b><br/>
                        <button type="submit" class="btn" value="login">Sign in</button>
                        <button type="reset" class="btn" value="reset">Reset</button>
                        <br/><br/>

                        If you don't have account <a href="/register/">sign up</a> now<br/><br/>

                    </form>
                </div>
            </div>
            <div class="span3"> </br> </div>

        </div>
    </div>

{% endblock %}