{% extends "base_func.html" %}
{% block title%} Creat Quiz {% endblock %}
<link rel="icon" href="/site_media/apple-touch-icon.png" type="images">
{% block extend_head %}
    <script type="text/javascript">
        function delete_confirm(id ){
            var query=confirm("Do you want to delete this Quiz")
            if(query==true){
                window.location="/Delete_Quiz/"+id
            }
        }

    </script>
 {% endblock %}
{% block top_menu%}
    <ul class="nav pull-right">
        Welcome {{ user.username }}, <a href="/logout/">logout</a>
    </ul>
{% endblock %}
{% block block_content %}
    <form action="." method="post" class="center">
        {% if create %}
            <div class="CreateQuiz">
                <b><span style="margin-top: 20px"><font size="5">Create New Quiz</font></span></b><br/><br/>
                <font face="arial" >Quiz Title:</font>
        <span style="margin-left: 60px">
            <input type="text" name="title" value="{{ title }}" size="40"><br/>
            <span style="margin-left: 135px"><font size="1">the name of your quiz : information technology</font></span>
        </span>
                <hr/>

                Time limit:
        <span style="margin-left: 60px"><select name="TimeLimit">
            <option value="20">20 minutes</option>
            <option value="30">30 minutes</option>
            <option value="40">40 minutes</option>
            <option value="60">60 minutes</option>
            <option value="120">120 minutes</option>
            <option value="150">150 minutes</option>
            <option value="180">180 minutes</option>
        </select></span><hr/>

                <input type="submit" value="CREATE" class="btn">
                <a href="/Create_Quizzes/" class="btn">CANCEL</a>
            </div>

        {% else %}
            <input type="submit" name="create"  value="CREATE NEW QUIZ" class="btn"><br/><hr/>
            {% for e in list %}
                <a href="/Add_Question/{{ e.id }}" class="Quiz_title"><img src="/site_media/address_book.png" width="20" height="20">  {{ e.title }}</a><br/>
                </br>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog"></i> Option
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="option" onclick="delete_confirm( {{ e.id }} )"><i class="icon-trash"></i> Delete</a></li>
                        <li><a href="/Edit_Quiz/{{ e.id }}"><i class="icon-edit"></i> Edit</a></li>
                        <li><a href="/Assign_To/{{ e.id }}"><i class="icon-arrow-right"></i> Assign</a></li>
                     </ul>

                </div>
                <b>Time update: </b>{{ e.update_time }}<br/>
                <b>Time limit: </b>{{ e.Time_limit }} minutes<br/>

<hr/>
{% endfor %}
{% endif %}
</form>
{% endblock %}