{% extends "base_func.html" %}
{% block title %} Creat new class {% endblock %}
{% block top_menu %}
    <ul class="nav pull-right">
        Welcome {{ user.username }}, <a href="/logout/">logout</a>
    </ul>
{% endblock %}
{% block block_content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10" align="center">
                <h2>Create Classes</h2>
                <form method="POST" action="." align="center">
                    Class:<br/>
                    <input type="text" size="50" name="name" value="{{ name }}" class="input"><br/>
                    Code Access:<br/>
                    <input type="text" size="50" name="number" value="{{ number }}" class="input"><br/><br/>
                    <button type="submit" class="btn"><i class="icon-plus"></i> Create</button>
                    <button type="reset" class="btn">Reset</button><br/>


                    Your Classes:<br/>
                    <ul>
                    {% for class in list %}
                        <li><a href="/go_to_class/{{ class.id }}" style="color: blue;">{{ class.name }}</a> access code:{{ class.access_number }}</li>
                    {% endfor %}
                    </ul>

                </form>
            </div>
            <div class="span2" align="center">
                <a href="/Create_Quizzes/"><button class="btn btn-danger"><i class="icon-plus-sign"></i> Creat quiz</button></a>
            </div>
        </div>
    </div>



{% endblock %}
