{% extends "base_func.html" %}
{% block title %} Edit Title {% endblock %}
{% block extend_head %}
    <script type="text/javascript">
        function delete_confirm(id ){
            var query=confirm("Do you want to delete this Quiz")
            if(query==true){
                window.location="/Delete_Quiz/"+id
            }
        }

    </script>

{% endblock %}

{% block block_content %}
<form action="." method="post" class="center">


    <font face="arial" color="white" >Quiz Title:</font>
    <span style="margin-left: 60px">
        <input type="text" name="newTitle" value="{{ newTitle }}" size="40"><hr/>
    </span>
    <font face="arial" color="white" >Time Limit</font>
    <span style="margin-left: 60px">
        <select name="TimeLimit">
            <option value="20">20 minutes</option>
            <option value="30">30 minutes</option>
            <option value="40">40 minutes</option>
            <option value="60">60 minutes</option>
        </select><br/>
    </span><hr/>
        <input type="submit" value="Save" name="edit" class="btn">
        <a href="/Create_Quizzes/" class="btn">Cancel</a>

</form>
{% endblock %}