<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("button").click(function(){
                $("h1").css("background-color","yellow");
            });
        });
    </script>
</head>
<body>
<form action="." method="post">
    <h1>{{ title }}</h1><br/>
    {{ ques }}<br/>
    A: {{ ans1 }}<br/>
    B: {{ ans2 }}<br/>
    C: {{ ans3 }}<br/>
    D: {{ ans4 }}<br/>
    <input type="submit" name="show_correct_ans" value="correct_answer"><br/>
    {% if show_correct_ans %}
        The correct answer is: {{ correct_ans }}<br/>
    {% endif %}
    <input type="submit" name="ok" value="OK">
</form>   
</body>
</html>