<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% extends "base_func.html" %}
{% block title %}About{% endblock %}
{% block block_content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">

                <h1 style="color: blue;">Quizzes</h1>
                 <ol>
                     <li>
                         <b style="font-size: 20px;color: blue;">Register</b><br/><br/>
                         <img src="/site_media/guide1.png" width="600" height="450" border="5"/><br/><hr/>
                     </li>
                     <li>
                         <b style="font-size: 20px;color: blue;">Login</b><br/><br/>
                         <img src="/site_media/guide2.png" width="600" height="450" border="5"/><br/><hr/>
                     </li>
                     <li>
                         <b style="font-size: 20px;color: blue;">Create Class</b><br/><br/>
                         <p style="font-size: 16px;">Enter the name of class and access code(security).choose <b style="color: blue;">Private</b> or <b style="color: blue;">Public</b> class</p><p style="font-size: 16px;">click on button Create</p><br/>
                         <img src="/site_media/guide3.png" width="600" height="450" border="5"/><br/><br/>
                         <p style="font-size: 16px;">Click on button <b>All Classes</b> .You can see all classes in database(include classes of other user)</p><br/><br/>
                         <img src="/site_media/guide3_1.png" width="600" height="450" border="5"/><br/><br/>
                         <p style="font-size: 16px">You also search class with name of class or own class.Click on each class to see quizzes assigned to this class</p><br/><br/>
                         <hr/>
                     </li>
                     <li>
                         <b style="font-size: 20px;color: blue;">Create Quiz</b><br/><br/>
                         <p style="font-size: 16px;">Click on button <b>Create new quiz</b>.click <b>delete</b> to delete quiz or <b>edit to change quiz</b></p>
                         <img src="/site_media/guide4.png" width="600" height="450" border="5"/><br/><br/>
                         <p style="font-size: 16px;">After that, enter the name of quiz then choose time limit.Click on <b>Create</b></p>
                         <img src="/site_media/guide5.png" width="600" height="450" border="5"/><br/><hr/>
                     </li>
                     <li>
                         <b style="font-size: 20px;color: blue;">Add Question</b><br/><br/>
                         <p style="font-size: 16px;">Click on button <b>Create new question</b>.click delete to delete question or edit to change question</p>
                         <img src="/site_media/guide6.png" width="600" height="450" border="5"/><br/><br/>
                         <p style="font-size: 16px;">Enter the question and 4 answers, choose the correct answer.Then click button <b>Add</b></p>
                         <img src="/site_media/guide7.png" width="600" height="450" border="5"/><br/><hr/>
                     </li>
                     <li>
                         <b style="font-size: 20px;color: blue;">Do Question</b><br/><br/>
                         <p style="font-size: 16px">click on quiz to see questions.</p>
                         <img src="/site_media/guide8.png" width="600" height="450" border="5"/><br/><br/>
                         <p style="font-size: 16px;"> choose one answer of each question.Then click on submit to get result </p>
                         <img src="/site_media/guide9.png" width="600" height="450" border="5"/><br/><hr/>
                     </li>

                 </ol>
                <b>TEAM MEMBER</b>
                <ol>
                    <li>Nguyễn Đại Thành</li>
                    <li>Đặng Trần Thái</li>
                    <li>Đỗ Xuân Quyết</li>
                    <li>Nguyễn Đức Mạnh</li>
                    <li>Trịnh Đình Thanh</li>
                    <li>Nguyễn Khánh Thiện</li>
                </ol>
                </div>

        </div>
    </div>

{% endblock %}